@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">SportsPro Technical Support</h1>
    <h4>Sports management software for the sports enthusiast</h4>
</div>

<div>
    <table class="table">
        <thead>
        <tr>Admin</tr>
        </thead>
        <tbody>
        <tr><a class="dropdown-item" href="#">Manage Products</a></tr>
        <tr><a class="dropdown-item" href="#">Manage Technicians</a></tr>
        <tr><a class="dropdown-item" href="#">Manage Customers</a></tr>
        <tr><a class="dropdown-item" href="#">Manage Incidents</a></tr>
        <tr><a class="dropdown-item" href="#">Manage Registrations</a></tr>
        <tr><hr class="dropdown-divider"></tr>
        </tbody>
        
        <thead>
        <tr>Technicians</tr>
        </thead>
        <tbody>
        <tr><a class="dropdown-item" href="#"> Update Incident</a></tr>
        </tbody>

    </table>
</div>


