@{
    ViewData["Title"] = "Update";
}
<h1>@ViewData["Title"]</h1>

<p>Update Incident Page.</p>

@* TODO I believe we should have a form to search for the incident to be updated, and then redirected to the incidents page with all information filled. *@